<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To do list</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='todolist.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap" rel="stylesheet">
</head>

<body>
    <div id="box">
        <h1>To do list</h1>

        <form class="tasks" action="{{url_for('add')}}" method="POST">
            <div class="createtasks">
                <input type="text" name="todo" placeholder="What are you going to do?" autocomplete="off" required
                    maxlength="120"><button class="bt" type="submit">+</button>
            </div>
        </form>


        {% for k, v in session.items() %}
        {% if not v['completed'] %}
        <div class='tasks'>
            <form class="task" action="{{url_for('check')}}" method="POST">
                <button type="submit" name="taskid" value="{{k}}">• {{v['task']}}</button>
            </form>

            <form action="{{url_for('delete')}}" method="POST">
                <button class="bt" type="submit" name="taskid" value="{{k}}">&times</button>
            </form>
        </div>

        {% else %}
        <div class='tasks'>
            <form class="task" action="{{url_for('check')}}" method="POST">
                <button type="submit" name="taskid" value="{{k}}"><strike>• {{v['task']}}</strike></button>
            </form>

            <form action="{{url_for('delete')}}" method="POST">
                <button class="bt" type="submit" name="taskid" value="{{k}}">&times</button>
            </form>
        </div>

        {% endif %}
        {% endfor %}
        {% if session %}
        <form action="{{url_for('delete_all')}}" method="POST">
            <button class="deleteall" type="submit"><span class="bt">&times</span>DELETE ALL</button>
        </form>
        {% endif %}
    </div>

</body>

</html>